bluesky_session_endpoint="https://bsky.social/xrpc/com.atproto.server.createSession"
bluesky_user="letsrockyeeaaahhhh.bsky.social"
bluesky_password="fyqfoh-6getKu-baqdin"
bluesky_post_text="And now, Iceland."
bluesky_image_text="Diamond Beach, Vatnajokull National Park"
bluesky_image="diamond_beach.jpg"
bluesky_image_alt_text="Ice and waves looking south at Diamond Beach."
bluesky_video_text="Skógafoss waterfall."
bluesky_video="skogafoss.mp4"
bluesky_video_alt_text="Skógafoss"
